<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <h3>Todo List</h3>
    <form action="/add" method="post">
    <div class = "form-group">
      <label for="">Example label</label>
      <input type="text" class="form-control" name="title">   
     </div>

     <div class="form-group">
       <label for="">Todo Icerigi</label>
       <input type="text" class="form-control" name="content">
      </div>

      <button type="submit" class="btn btn-danger">Ekie</button>
    </form>

    <h3 style="margin-top:30px;">Result</h3>
    {% if todos == [] %}
    <div class="alert alert-wraning" role="alert">
      Hearings bir todomoz bulnmuyor..
    </div>
    {% else %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Todo Baslik</th>
          <th scope="col">Todo icerik</th>
          <th scope="col">Durum</th>
          <th scope="col">Tamanla</th>
          <th scope="col">sill</th>
          </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <th scope="row">{{ todo.id }}</th>
          <td>{{ todo.title }}</td>
          <td>
            <a href="/detail/{{todo.id}}">{{ todo.content }}</a></td>
          <td>{{ todo.complete }}</td>

          <td><a href="/update/{{todo.id}}" class="btn btn-danger">Tamamla</a></td>
          <td><a href="/delete/{{(todo.id)}}" class="btn btn-danger">sil</a></td>

          </tr>
        {% endfor %}
        </thead>
        </table>
        <form action="/deleteall" method="post">
          <button type="submit" class="btn btn-danger">全て消す</button>
          </form>
    </div>
    </div>
    
    </form>
    {% endif %}
    
    
    </div>

     <!-- Bootstrap4  javascript -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>