<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <div class="card">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="card-group">
			<legend class="border-bottom mb-4"> {{ legend }}</legend>
			<div class="form-group">
				{{ form.title.label(class="form-control-label") }}
				{% if form.title.errors %}
				  {{ form.title(class="form-control form-control-lg is-invalid")}}
				  <div class="invalid-feedback">
				  	{% for error in form.title.errors %}
				  	  <span>{{ error }}</span>
				  	{% endfor %}
				  </div>
				  {% else %}
				     {{ form.title(class="form-control form-control-lg")}}
				  {% endif %}
				 </div>
				 <div class="form-group">
				 	{{ form.content.label(class="form-control-label")}}
				 	{% if form.content.errors %}
				 	  {{ form.content(class="form-control form-control-lg is-invalid")}}
				 	  <div class="invalid-feedback">
				 	  	{% for error in form.content.errors %}
				 	  	  <span>{{ error }}</span>
				 	  	{% endfor %}
				 	  </div>
				 	  {% else %}
				 	    {{ form.content(class="form-control form-control-lg")}}
				 	  {% endif %}
				 	</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>
  </body>